<h3>{{title}}</h3>
<p>
    {{info}}
    {{status}}
    <br/>
    <br/>
    {{badges}}
    <br/>
    <br/>
    {{website}}
    {{webArticle1}}
    {{webArticle2}}
    {{webArticle3}}
</p>
<br/>
<em>Last automatic update {{date}}.</em>
{{footer}}
